.home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  z-index: -1;
  top: 5em;
  position: relative;
  font-family: 'Poppins' 'sans-serif';
}
.section {
  display: flex;
}
img {
  padding: 2px;
  width: 100%;
}
.width {
  width: 90%;
}
.mauNews {
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.adminPost {
  margin: 10px;
}
h4 {
  color: hsl(209, 28%, 39%);
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
.subPosts {
  padding: 5px;
  font-size: 15px;
  border: .1px solid hsl(220, 2%, 71%);
}
.removeBottom {
  border-bottom: 0px;
}
.fent {
  background-color:rgba(255, 250, 250, 0.34) !important;
}
.fent2{
  border: .1px solid hsl(220, 2%, 71%);
  background: hsla(0, 0%, 77%, 0.39);
}
.section  {
  margin-top: 1em;
  font-size: 16px;
}
.section p {
  font-size: 11px;
}
h6 {
  font-size: 16px;
}
.section .subPosts {
  border: 0;
  padding: 0;
}
.section span {
  font-weight: 200;
}
.break  {
  width: 99%;
  margin-bottom: 2em;
  color: rgb(72, 100, 127);
  margin: auto
}
.section2SubPst {
  display: flex;
}
@media (min-width:900px){
  .section div {
    padding: 5px;
  }
  .fent {
    position: relative;
    color:hsl(0, 0%, 15%) ;
    font-size: 15px;
    padding-left:10.5px;
    margin-top: -3.4em;
  }
  .fent2 {
    font-size: 14px;
  }
  .sub {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
  }
  .subPosts {
    display: flex;
    margin: 0 auto;
    width: 100%;
    font-size: 13px;
    padding: 5px;
  }

}
@media (max-width:900px){
  .section {
    flex-direction: column;
    justify-content: space-around;
  }
  .mauNews {
    flex-direction: column;
  }
  .home {
    top: 7em;
  }
  h4 {
    color: hsl(209, 28%, 39%);
    text-align: center;
    font-size: 15px;
    padding: 3px;
  }
  .fent {
    margin-top: -5em;
    position: absolute;
    color:hsl(209, 28%, 39%) ;
    font-size: 10px;
    padding: 10px;
  }
  .subPosts {
    padding: 6px;
    font-size: 10px;
  }
}

