h6 {
  font-size: 13px;
}
.aside img {
  width: auto;
}
.subParagraph {
  font-size: 11px;
}
.post {
  display: flex;
  margin: 0 auto;
  z-index: -1;
  top: 5em;
  position: absolute;
  font-family: 'Poppins' 'sans-serif';
}
.post p {
  padding-top: .5em;
}
.aside p {
  padding-top: .5em;
  font-size: 12px;
}
.expandedPost {
  display: flex;
  flex-direction: column;
}
.author {
  margin-left: 2em;
  display: flex;
}
.author img {
  border: 1px solid brown;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.author div {
  margin-top: .5em;
  padding-left: 1em;
}
.expandedPost h3 {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
}
.section {
  display: flex;
  justify-content: space-between;
}
.section2SubPst {
  display: flex;
}
.aside {
  margin-top:10em;
  margin-left:3em;
}
.asideDiv{
  padding-top:1em;
}
.similarPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.similarPost div {
  padding: 1em;
  width:30% ;
}
.similarPost p {
  font-size: 11px;
}
.similarPost span {
  font-size: 11px;
  font-weight: 200;
}
@media (min-width:900px){
  .post {
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (max-width:900px){
  .expandedPost {
    margin-top: 1em;
  }
  .author div {
    display: flex;
    flex-direction: column;
  }
  .aside {
    display: none;
  }
  .similarPost {
    flex-direction: column;
  }
  .similarPost div {
    padding: 1em;
    width:100% ;
  }
  .post {
    margin-left: 1em;
    margin-right: 1em;
  }
}